In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
stock = pd.read_csv('sphist.csv')

In [19]:
stock.head()

,Date,Open,High,Low,Close,Volume,Adj Close
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883

In [24]:
stock['Date'] = pd.to_datetime(stock['Date'])

In [25]:
stock.sort_values('Date', inplace=True)

In [26]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16590 entries, 16589 to 0
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       16590 non-null  datetime64[ns]
 1   Open       16590 non-null  float64
 2   High       16590 non-null  float64
 3   Low        16590 non-null  float64
 4   Close      16590 non-null  float64
 5   Volume     16590 non-null  float64
 6   Adj Close  16590 non-null  float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 1.0 MB

In [27]:
stock.shape

(16590, 7)

In [28]:
stock.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Volume       0
Adj Close    0
dtype: int64

In [29]:
stock.duplicated().sum()

0

In [30]:
stock.head()

            Date   Open   High    Low  Close     Volume  Adj Close
16589 1950-01-03  16.66  16.66  16.66  16.66  1260000.0      16.66
16588 1950-01-04  16.85  16.85  16.85  16.85  1890000.0      16.85
16587 1950-01-05  16.93  16.93  16.93  16.93  2550000.0      16.93
16586 1950-01-06  16.98  16.98  16.98  16.98  2010000.0      16.98
16585 1950-01-09  17.08  17.08  17.08  17.08  2520000.0      17.08

In [34]:
stock['Close'].rolling(5).mean().shift(1)

16589            NaN
16588            NaN
16587            NaN
16586            NaN
16585            NaN
            ...
4        2087.024023
3        2090.231982
2        2088.306006
1        2080.456006
0        2080.771973
Name: Close, Length: 16590, dtype: float64

In [35]:
stock['mean_close_5'] = stock['Close'].rolling(5).mean().shift(1)

In [37]:
stock.head(10)

,Date,Open,High,Low,Close,Volume,Adj Close,mean_close_5
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,16.900
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,16.974
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,17.022
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.988
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.926

In [38]:
stock['mean_close_30'] = stock['Close'].rolling(30).mean().shift(1)
stock['mean_close_365'] = stock['Close'].rolling(365).mean().shift(1)

In [39]:
stock.head(10)

,Date,Open,High,Low,Close,Volume,Adj Close,mean_close_5,mean_close_30,mean_close_365
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1260000.0,16.660000,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1890000.0,16.850000,NaN,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2550000.0,16.930000,NaN,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2010000.0,16.980000,NaN,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2520000.0,17.080000,NaN,NaN,NaN
16584,1950-01-10,17.030001,17.030001,17.030001,17.030001,2160000.0,17.030001,16.900,NaN,NaN
16583,1950-01-11,17.090000,17.090000,17.090000,17.090000,2630000.0,17.090000,16.974,NaN,NaN
16582,1950-01-12,16.760000,16.760000,16.760000,16.760000,2970000.0,16.760000,17.022,NaN,NaN
16581,1950-01-13,16.670000,16.670000,16.670000,16.670000,3330000.0,16.670000,16.988,NaN,NaN
16580,1950-01-16,16.719999,16.719999,16.719999,16.719999,1460000.0,16.719999,16.926,NaN,NaN

In [40]:
stock.isnull().sum()

Date                0
Open                0
High                0
Low                 0
Close               0
Volume              0
Adj Close           0
mean_close_5        5
mean_close_30      30
mean_close_365    365
dtype: int64

In [42]:
# stock.dropna().shape

In [43]:
clean = stock.copy().dropna()

In [44]:
clean.shape

(16225, 10)

In [47]:
import datetime as dt

In [49]:
jan2013 = dt.datetime(2013,1,1)
jan2013

datetime.datetime(2013, 1, 1, 0, 0)

In [50]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [80]:
def rmse(df, features):
    train = df[df['Date'] < jan2013] #till Dec2012
    test = df[df['Date'] >= jan2013] #From Jan2013
    target = 'Close'
    
    model = LinearRegression()
    model.fit(train[features], train[target])
    prediction = model.predict(test[features])
    
    mse = mean_squared_error(test[target], prediction)
    rmse = np.sqrt(mse)
    return rmse

In [52]:
clean.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close',
       'mean_close_5', 'mean_close_30', 'mean_close_365'],
      dtype='object')

In [53]:
features = [i for i in clean.columns if 'mean' in i]
features

['mean_close_5', 'mean_close_30', 'mean_close_365']

In [54]:
rmse(clean, features)

22.22006532421962

In [55]:
stock['mean_volume_5'] = stock['Volume'].rolling(5).mean().shift(1)
stock['mean_volume_365'] = stock['Volume'].rolling(365).mean().shift(1)

In [56]:
clean = stock.copy().dropna()

In [57]:
clean.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close',
       'mean_close_5', 'mean_close_30', 'mean_close_365', 'mean_volume_5',
       'mean_volume_365'],
      dtype='object')

In [58]:
features = ['mean_volume_5',
       'mean_volume_365']

rmse(clean, features)

732.2270657604481

In [59]:
features = ['mean_volume_5','mean_volume_365', 
            'mean_close_5', 'mean_close_30', 
            'mean_close_365']

rmse(clean, features)

22.234505180648917

In [60]:
stock['std_close_5'] = stock['Close'].rolling(5).std().shift(1)
stock['std_close_365'] = stock['Close'].rolling(365).std().shift(1)

In [61]:
stock['ratio_mean_close'] = stock['mean_close_5'] / stock['mean_close_365']  
stock['ratio_std_close'] = stock['std_close_5'] / stock['std_close_365']

In [62]:
clean = stock.copy().dropna()

In [63]:
clean.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close',
       'mean_close_5', 'mean_close_30', 'mean_close_365', 'mean_volume_5',
       'mean_volume_365', 'std_close_5', 'std_close_365', 'ratio_mean_close',
       'ratio_std_close'],
      dtype='object')

In [64]:
features = ['mean_close_5', 'mean_close_30', 'mean_close_365', 'mean_volume_5',
       'mean_volume_365', 'std_close_5', 'std_close_365', 'ratio_mean_close',
       'ratio_std_close']

In [65]:
rmse(clean,features)

22.225355136707922

In [66]:
stock

,Date,Open,High,Low,Close,Volume,Adj Close,mean_close_5,mean_close_30,mean_close_365,mean_volume_5,mean_volume_365,std_close_5,std_close_365,ratio_mean_close,ratio_std_close
16589,1950-01-03,16.660000,16.660000,16.660000,16.660000,1.260000e+06,16.660000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16588,1950-01-04,16.850000,16.850000,16.850000,16.850000,1.890000e+06,16.850000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16587,1950-01-05,16.930000,16.930000,16.930000,16.930000,2.550000e+06,16.930000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16586,1950-01-06,16.980000,16.980000,16.980000,16.980000,2.010000e+06,16.980000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16585,1950-01-09,17.080000,17.080000,17.080000,17.080000,2.520000e+06,17.080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2015-12-01,2082.929932,2103.370117,2082.929932,2102.629883,3.712120e+09,2102.629883,2087.024023,2073.984998,2035.531178,3.207544e+09,3.527800e+09,3.916109,64.370261,1.025297,0.060837
3,2015-12-02,2101.709961,2104.270020,2077.110107,2079.510010,3.950640e+09,2079.510010,2090.231982,2076.283993,2035.914082,3.232372e+09,3.526090e+09,7.956808,64.352527,1.026680,0.123644
2,2015-12-03,2080.709961,2085.000000,2042.349976,2049.620117,4.306490e+09,2049.620117,2088.306006,2077.908659,2036.234356,3.245514e+09,3.529468e+09,9.333599,64.277554,1.025573,0.145208
1,2015-12-04,2051.239990,2093.840088,2051.239990,2091.689941,4.214910e+09,2091.689941,2080.456006,2078.931331,2036.507343,3.536224e+09,3.532802e+09,19.599946,64.121622,1.021580,0.305668
0,2015-12-07,2090.419922,2090.419922,2066.780029,2077.070068,4.043820e+09,2077.070068,2080.771973,2080.237329,2036.869425,4.085838e+09,3.535838e+09,19.806136,64.058862,1.021554,0.309187

In [69]:
stock['Year'] = stock['Date'].dt.strftime('%Y').astype(float)
stock['Month'] = stock['Date'].dt.strftime('%m').astype(float)
stock['Day'] = stock['Date'].dt.strftime('%d').astype(float)

In [70]:
clean = stock.copy().dropna()

In [71]:
clean.head()

,Date,Open,High,Low,Close,Volume,Adj Close,mean_close_5,mean_close_30,mean_close_365,mean_volume_5,mean_volume_365,std_close_5,std_close_365,ratio_mean_close,ratio_std_close,Year,Month,Day
16224,1951-06-19,22.020000,22.020000,22.020000,22.020000,1100000.0,22.020000,21.800,21.703333,19.447726,1196000.0,1.989479e+06,0.256223,1.790253,1.120954,0.143121,1951.0,6.0,19.0
16223,1951-06-20,21.910000,21.910000,21.910000,21.910000,1120000.0,21.910000,21.900,21.683000,19.462411,1176000.0,1.989041e+06,0.213659,1.789307,1.125246,0.119409,1951.0,6.0,20.0
16222,1951-06-21,21.780001,21.780001,21.780001,21.780001,1100000.0,21.780001,21.972,21.659667,19.476274,1188000.0,1.986932e+06,0.092574,1.788613,1.128142,0.051758,1951.0,6.0,21.0
16221,1951-06-22,21.549999,21.549999,21.549999,21.549999,1340000.0,21.549999,21.960,21.631000,19.489562,1148000.0,1.982959e+06,0.115108,1.787659,1.126757,0.064390,1951.0,6.0,22.0
16220,1951-06-25,21.290001,21.290001,21.290001,21.290001,2440000.0,21.290001,21.862,21.599000,19.502082,1142000.0,1.981123e+06,0.204132,1.786038,1.121008,0.114293,1951.0,6.0,25.0

In [72]:
clean.corr()['Close']

Open                0.999900
High                0.999953
Low                 0.999956
Close               1.000000
Volume              0.772817
Adj Close           1.000000
mean_close_5        0.999793
mean_close_30       0.999189
mean_close_365      0.988870
mean_volume_5       0.780896
mean_volume_365     0.784878
std_close_5         0.722414
std_close_365       0.816103
ratio_mean_close    0.047782
ratio_std_close     0.087018
Year                0.872100
Month               0.005684
Day                -0.001525
Name: Close, dtype: float64

In [73]:
clean.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close',
       'mean_close_5', 'mean_close_30', 'mean_close_365', 'mean_volume_5',
       'mean_volume_365', 'std_close_5', 'std_close_365', 'ratio_mean_close',
       'ratio_std_close', 'Year', 'Month', 'Day'],
      dtype='object')

In [74]:
features = ['mean_close_5', 'mean_close_30', 'mean_close_365', 'mean_volume_5',
       'mean_volume_365', 'std_close_5', 'std_close_365', 'Year']

In [75]:
rmse(clean, features)

22.23543410375276

In [76]:
from sklearn.neighbors import KNeighborsRegressor

In [81]:
def krmse(df, features):
    train = df[df['Date'] < jan2013] #till Dec2012
    test = df[df['Date'] >= jan2013] #From Jan2013
    target = 'Close'
    
    model = KNeighborsRegressor()
    model.fit(train[features], train[target])
    prediction = model.predict(test[features])
    
    mse = mean_squared_error(test[target], prediction)
    rmse = np.sqrt(mse)
    return rmse

In [82]:
krmse(clean, features)

525.4374135937074

In [83]:
rmse(clean, features)

22.23543410375276

In [88]:
def rmses(df, features, row):
    train = df[df['Date'] < row['Date']]
    test = df[df['Date'] == row['Date'] ] 
    target = 'Close'
    
    if len(train) == 0:
        return np.nan
    
    else:
        model = LinearRegression()
        model.fit(train[features], train[target])
        prediction = model.predict(test[features])

        mse = mean_squared_error(test[target], prediction)
        rmse = np.sqrt(mse)
        return rmse

In [89]:
clean.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close',
       'mean_close_5', 'mean_close_30', 'mean_close_365', 'mean_volume_5',
       'mean_volume_365', 'std_close_5', 'std_close_365', 'ratio_mean_close',
       'ratio_std_close', 'Year', 'Month', 'Day'],
      dtype='object')

In [90]:
features = ['mean_close_5', 'mean_close_30', 'mean_close_365', 'mean_volume_5',
       'mean_volume_365', 'std_close_5', 'std_close_365', 'ratio_mean_close',
       'ratio_std_close', 'Year', 'Month', 'Day']

In [92]:
rmse_ = clean.apply(lambda row: rmses(clean, features, row), axis=1)
rmse_

16224          NaN
16223     0.110000
16222     0.196027
16221     0.245747
16220     0.029599
           ...
4        13.048958
3        12.939112
2        40.515386
1        11.191720
0         3.212984
Length: 16225, dtype: float64

In [95]:
np.mean(rmse_)

5.482715956043589

In [96]:
features = ['mean_close_5', 'mean_close_30', 
            'mean_close_365', 'mean_volume_5',
            'mean_volume_365', 'std_close_5', 
            'std_close_365', 'Year']

In [97]:
rmse_ = clean.apply(lambda row: rmses(clean, features, row), axis=1)
rmse_

16224          NaN
16223     0.110000
16222     0.195968
16221     0.245747
16220     0.236067
           ...
4        13.595110
3        12.418450
2        40.022969
1        11.642096
0         2.804907
Length: 16225, dtype: float64

In [98]:
np.mean(rmse_)

5.483055360207877

In [100]:
#gradient descent
#ordinary least square

#to reduce errors